<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand"><i class="fa fa-bug"></i> 君君科技</a>
        </div>
        <!-- <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
            </ul>
        </div> -->
    </nav>
</div>